.people {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-auto-rows: 200px;
    grid-column-gap: 30px;
    grid-row-gap: 70px;
    justify-content: center;
    padding: 20px;
}

.photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photo {
    position: relative;
    margin-bottom: 4px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 160px;
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
    color: #8B0000;
}

.extra {
    display: none;
}

.name {
    width: 160px;
    height: 23px;
    left: 765px;
    top: 238px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: #2F4F4F;
}

.person:hover {
    width: 220px;
    height: 267px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 4px;
    background-color: #EEEEEE;
    text-align: center;
    border-radius: 10px;
    z-index: 100;
}

.person:hover .extra {
    display: block;
    margin-top: 10px;
    width: 220px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.person:hover .name {
    width: 220px;
    display: block;
 }

@media (max-width: 990px) {
    .people {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 200px;
    grid-column-gap: 30px;
    grid-row-gap: 70px;
}
}